.bgcolor {
  background-color: #afb1b8;
}
.zag {
  padding-bottom: 30px;
  padding-top: 60px;
  margin: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.site-nav {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.profession {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card {
  border: #eeeeee 1px solid;
  padding-top: 30px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;

  &-comand {
    display: block;

    border: #eeeeee 1px solid;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: var(--white);
  }
}
.imgport-comand {
  display: block;
  padding-right: 0px;
  padding-bottom: 30px;
  margin-right: 0px;
}
.piople {
  padding-right: 0px;
  padding-left: 0px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.socseti {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.socsetiicon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-color: var(--primery-text-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color2, #afb1b8);
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--white);
  }
}

.grey {
  fill: currentColor;
}
