.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.contact {
  display: flex;

  @media screen and(max-width:767px) {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 768px) and(max-width:1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.footeradres {
  margin-right: 70px;
  @media screen and(max-width:767px) {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-right: 0px;
    width: 50%;
  }
}
.footerlink {
  padding-top: 12px;
  margin-right: 70px;
  @media screen and (max-width: 767px) {
    padding-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 50%;
    margin-right: 0px;
  }
}

.footersubscription {
  padding-top: 12px;
  @media screen and (max-width: 767px) {
    padding-top: 0px;
  }
}
.logotip {
  margin-bottom: 20px;
}
.logofoot {
  margin-bottom: 20px;
  color: var(--accent);
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    color: var(--white);
  }
}
.white {
  color: var(--white);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    color: var(--accent);
    transition: var(--timecubic);
  }
}
.sitenav {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 0px;
}
.adres {
  margin-top: 0px;
  margin-bottom: 8px;
  color: var(--white);
  font-weight: 400;

  .links {
    color: var(--whiitetrans);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  padding-top: 0px;
  @media screen and(max-width:767px) {
    margin-bottom: 20px;
  }
}
.footericon {
  list-style: none;
  display: flex;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.svgicon {
  display: block;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
.footerbgicon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}
.iconwhite {
  fill: var(--white);
}
.sitenav .adres:last-child {
  margin-bottom: 0px;
}
.form {
  @media screen and(max-width:767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.subscriptionfoot {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  width: 370px;
  justify-content: center;

  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.script {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.inputmail {
  width: 358px;
  height: 48px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 12px;
  padding-left: 15px;
  background-color: transparent;
  color: var(--whiitetrans);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscriptionfoot .inputmail {
  @media screen and(max-width:479px) {
    width: 100%;
  }
}
.but {
  padding-bottom: 12px;

  .butmail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
  }
  .butmailspan {
    margin-right: 10px;
  }
}
.butm {
  padding-bottom: 0px;
}
