.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--white);
  @media screen and(max-width:767px) {
    top: 30%;
    width: 450px;
    margin-top: 93px;
    margin-bottom: 93px;
    height: 609px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    top: 42%;
    width: 450px;
    height: 612px;
  }
}
.current::after {
  position: absolute;
  bottom: 0px;
  right: 0px;
  content: "";
  height: 4px;
  left: 0px;
  background-color: var(--accent);
  border-radius: 2px;
}
.imgport {
  outline: none;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover .imgportp,
  &:focus .imgportp {
    transform: translateY(0%);
    opacity: 1;
  }
}
.flex-elem:hover,
.flex-elem:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footersubscription {
  padding-top: 12px;
  @media screen and (max-width: 768px) {
    padding-top: 0px;
  }
}
.form {
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.subscription {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  width: 370px;
  justify-content: center;
}
.script {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.inputmail {
  width: 358px;
  height: 48px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 12px;
  padding-left: 15px;
  background-color: transparent;
  color: var(--whiitetrans);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.but {
  padding-bottom: 12px;
}
.butmail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}
.butmailspan {
  margin-right: 10px;
}
.formmodal {
  position: relative;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.butclose {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
}
.clos {
  fill: currentColor;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.butclose .clos:hover {
  fill: var(--accent);
}

.modalzag {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  padding-top: 40px;
  @media screen and(max-width:1199px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modallab {
  position: absolute;
  top: -24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primery-text-color);
  @media screen and (max-width: 768px) {
    top: -16px;
  }
}
.modalinput {
  position: relative;
  padding-left: 36px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border-color: rgba(33, 33, 33, 0.2);
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.commentaries {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.iconmodal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  padding-right: 0px;
  padding-bottom: 0px;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.formtrans {
  margin-bottom: 30px;
  margin-top: 30px;
}
.formtrans:last-child {
  margin-bottom: 10px;
}
.form-field:focus-within > .iconmodal {
  fill: var(--accent);
}
.form-field:focus-within > .modalinput {
  border-color: var(--accent);
}
.form-field:focus-within > .commentaries {
  border-color: var(--accent);
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.chec {
  position: relative;
  display: inline-block;
  @media screen and (max-width: 768px) {
  }
}
.contract {
  text-decoration: underline;
  color: var(--accent);
}
.checpolicy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  padding-left: 35px;
  @media screen and (max-width: 768px) {
    padding-left: 23px;
    font-size: 12px;
    line-height: 1.16;
  }
}
.checbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checsvg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #000000;
  margin-right: 10px;
  transition-property: bbackground-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  @media screen and(max-width:768px) {
    left: 0px;
    margin-right: 0px;
  }
}
.checbox:checked + .checsvg {
  background-color: var(--accent);
  background-origin: border-box;
  border-color: transparent;
}
.butpolicy {
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  padding-left: auto;
  padding-right: auto;
}
.cnopka {
  display: block;
  margin-top: 30px;
  text-align: center;
  @media screen and(max-width:768px) {
    margin-bottom: 40px;
  }
}
.formtrans-com {
  margin-bottom: 20px;
}
