:root {
  --accent: #2196f3;
  --primery-text-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --secondary-text-color: #212121;
  --secondary-bgcolor: #f5f4fa;
  --whiitetrans: rgba(255, 255, 255, 60%);
  --timecubic: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
